import(jaspBase)
export(Correlation)
export(RegressionLinear)
export(RegressionLogistic)
export(RegressionLogisticBayesian)
export(CorrelationBayesian)
export(RegressionLinearBayesian)
export(GeneralizedLinearModel)
export(CorrelationInternal)
export(RegressionLinearInternal)
export(RegressionLogisticInternal)
export(RegressionLogisticBayesianInternal)
export(CorrelationBayesianInternal)
export(RegressionLinearBayesianInternal)
export(GeneralizedLinearModelInternal)
export(.getCorTableTitle)
export(.getBfTableSidedFootnote)
export(.getBfTitle)
export(.getCorCitations)
export(.getCorPlotItems)
export(.bfPlotTitles)
export(.drawPosteriorPlotCorBayes)
export(.drawBfRobustnessPlotCorBayes)
