import(jaspBase)
export(Correlation)
export(RegressionLinear)
export(RegressionLogistic)
export(CorrelationBayesian)
export(RegressionLinearBayesian)
export(.getCorTableTitle)
export(.getBfTableSidedFootnote)
export(.getBfTitle)
export(.getCorCitations)
export(.getCorPlotItems)
export(.bfPlotTitles)
export(.drawPosteriorPlotCorBayes)
export(.drawBfRobustnessPlotCorBayes)